{% extends "base.html" %}

{% block title %}
    Task details
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>{{ project_details.name }}</h1>
            <p>{{ project_details.description }}</p>
            <h2>Tasks</h2>
            <p>
                <a href = "{% url 'create_task' %}">Create a task</a>
            </p>
            {% if project_details.tasks.all|length > 0 %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for details in project_details.tasks.all %}
                                <tr>
                                    <td>{{ details.name }}</td>
                                    <td>{{ details.assignee }}</td>
                                    <td>{{ details.start_date }}</td>
                                    <td>{{ details.due_date }}</td>
                                    <td>{{ details.is_completed|yesno:"yes,no" }}</td>
                                </tr>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            {% else %}
                <p>This project has no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
