{% extends "base.html" %}

{% block title %}
My projects
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>My Projects</h1>
            <p>
                <a href="{% url 'create_project' %}">Create a project</a>
            </p>
            {% if project_list.all|length == 0 %}
                <p>You are not assigned to any projects</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project_info in project_list %}
                            <tr>
                                <td>
                                    <a href = "{% url 'show_project' project_info.id %}">{{ project_info.name }}
                                </td>
                                    <td>{{ project_info.tasks.all|length }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </main>
    {% endblock content %}
